# Sets

In [2]:
# Define an empty sets

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [3]:
set_var={1,2,3,4,5,3}

In [4]:
set_var

{1, 2, 3, 4, 5}

In [6]:
set_var={"Avengers","IreonMan", "Hitman"}
print(set_var)
type(set_var)

{'Hitman', 'Avengers', 'IreonMan'}

set

In [8]:
set_var.add("HULK")

In [9]:
print(set_var)

{'Hitman', 'Avengers', 'IreonMan', 'HULK'}

In [10]:
set1={"Avengers","IreonMan", "Hitman"}
set2={"Avengers","IreonMan", "Hitman","Hulk"}

In [11]:
## Difference 
set2.difference(set1)

{'Hulk'}

In [12]:
set2

{'Avengers', 'Hitman', 'Hulk', 'IreonMan'}

In [13]:
##Difference uodate 


set2.difference_update(set1)

In [14]:
print(set2)

{'Hulk'}

In [15]:
set1

{'Avengers', 'Hitman', 'IreonMan'}

In [16]:
set2

{'Hulk'}

In [17]:
set1={"Avengers","IreonMan", "Hitman"}
set2={"Avengers","IreonMan", "Hitman","Hulk"}

In [20]:
set2.intersection_update(set1)

In [21]:
set2

{'Avengers', 'Hitman', 'IreonMan'}

# Dictionaries

In [23]:
dic={}

In [26]:
type(dic)

dict

In [29]:
dic={1,2,3,4,5,6,4}

In [30]:
type(dic)

set

In [31]:
## Let see create a dictionary 

my_dict={"car1": "Audi", "car2": "BMW", "car3": "Mercidies Benz"}

In [32]:
type(my_dict)

dict

In [34]:
## Access the iteam values based on keys 

my_dict['car1']

'Audi'

In [35]:
## We can loop through the dicitionaries keys 

for x in my_dict:
    print(x)

car1
car2
car3

In [37]:
# we can even loop throught the dictionaries values 

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [38]:
# We can also through both keys and values 

for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Mercidies Benz')

In [39]:
##v Adding iteam in Dictionaries 

my_dict['car4']='Audi 2.0'

In [40]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [47]:
my_dict.pop("car1")

'Audi'

In [48]:
my_dict

{'car2': 'BMW', 'car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [49]:
my_dict["car1"]= "Maruti"

In [50]:
my_dict

{'car2': 'BMW', 'car3': 'Mercidies Benz', 'car4': 'Audi 2.0', 'car1': 'Maruti'}

# Nested Dictionary

In [52]:
car1_model={'Mercedes':1960}
car2_model={'Audi': 1970}
car3_model={'Ambassdor': 1980}
car4_model={'BMW': 1955}

car_type={'car1': car1_model,'car2': car2_model,'car3':car3_model,'car4':car4_model}

In [54]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassdor': 1980}, 'car4': {'BMW': 1955}}

In [56]:
## Accessing iteam in dictionary
print(car_type['car1'])

{'Mercedes': 1960}

In [57]:
print(car_type['car1']['Mercedes'])

1960

# Tuples

In [60]:
# create empty tuples 
my_tuple=tuple()

In [61]:
type(my_tuple)

tuple

In [62]:
my_tuple=()

In [64]:
type(my_tuple)

tuple

In [66]:
my_tuple=('Krish','Ankit', 'Jatin')

In [67]:
my_tuple[0]

'Krish'

In [68]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Krish', 'Ankit', 'Jatin')

In [69]:
type(my_tuple)

tuple

In [75]:
## Inbuilt fuction 

my_tuple.count('jatin')

0

In [73]:
my_tuple.index('Jatin')

2